.container {
  background: linear-gradient(
    31deg,
    rgb(126, 85, 190) 5%,
    rgb(52, 201, 207) 50%
  );
  border: 1px solid #6c6280;
  border-radius: 5px;
  width: 500px;
  margin: 50px auto;
  padding: 50px;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  text-align: center;
  color: #ffffff;
  margin: 29px auto;
  line-height: 20px;
  font-weight: 500;
}

p {
  text-align: center;
  color: #ffffff;
  margin: -29px auto;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}

.border {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 30px auto;
}
.col-3,
.col-2,
.col-1 {
  border: 1px solid white;
  padding: 8px;
  border-radius: 30px;
  width: 74px;
  height: 138px;
  color: #ffffff;
  text-align: center;
  margin: 5px;
  font-size: 14px;
}

.fa-sun,
.fa-cloud-showers-heavy {
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
}

.btn-outline-secondary {
  color: #ffffff;
  border-style: solid;
  border-color: #ffffff;
}

.btn-outline-secondary:hover {
  background: #6c6280;
  color: #2cd6d9;
}

.git-link,
.name {
  font-size: 14px;
  text-align: center;
  display: block;
}

.units {
  position: relative;
  top: -58px;
  left: 142px;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
}

.weather-icon {
  position: relative;
  left: 81px;
  top: 14px;
}
