.container {
  background: linear-gradient(
    31deg,
    rgb(108, 98, 128) 2.6%,
    rgb(27, 245, 241) 100.2%
  );
  border: 20px;
  width: 500px;
  margin: 50px auto;
  display: block;
  padding: 50px;
}

input {
  border-radius: 14px;
  margin: 0 auto;
  display: block;
  border: 2px solid #9a9b8d;
}

h1,
h2,
h3 {
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: 29px auto;
  display: block;
}

p {
  text-align: center;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  margin: -18px auto;
  display: block;
  font-size: 16px;
}
.london-cloudy {
  color: #ffffff;
  font-size: 50px;
  display: block;
  text-align: center;
  position: relative;
  left: 95px;
  top: 10px;
}

.border {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 30px auto;
  display: block;
}

.col-3,
.col-2,
.col-1 {
  border: 1px solid white;
  padding: 8px;
  border-radius: 30px;
  width: 74px;
  height: 138px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: block;
  text-align: center;
  margin: 5px;
  font-size: 14px;
}

.fa-sun,
.fa-cloud-showers-heavy {
  color: #ffffff;
  font-size: 30px;
  padding: 10px;
  display: 0;
}

.search-icon {
  margin-right: 30px;
  position: relative;
  bottom: 31px;
  background-color: #af92e9;
  color: #ffffff;
  border-style: none;
  box-sizing: border-box;
  border-width: 0 0 3px;
  padding: 3px 10px;
  border-radius: 5px 5px;
}

a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  position: relative;
  bottom: 10px;
}

.units {
  position: relative;
  top: -62px;
  left: 142px;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.open-link,
.name {
  text-align: center;
  display: inline;
  margin: 20px 15px 20px 15px;
}
